/* CUSTOM PROPERTIES */
:root {
    /* COMMON */
    --header-avatar-container: 80px;
    --header-color:rgb(234 234 234);
    --icon-color:rgb(177 177 177);

    /* COL LEFT */
    --header-left-height: 80px;
    --main-avatar-container: 90px;
    --chat-color: rgb(255 255 255);

    /* COL RIGHT */
    --header-right-height: 80px;
    --footer-right-height: 80px;
    --icon-chat: rgb(126 123 120);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
}

/* COMMON */
.flex {
    display: flex;
}

.circle-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    background-color: transparent;
}

.list-icon {
    color: gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.icon {
    font-size: 25px;
    color: var(--icon-color);
}

.icon-2 {
    font-size: 25px;
    color: var(--icon-chat);
}

/* BODY */
body {
    width: 100%;
    height: 100vh;
    padding: 20px 80px;
    font-family: sans-serif;
    /* Debug */
    background-color: brown;
}

@media screen and (max-width: 768px) {
    body {
        padding: 0;
    }   
}

/* LAYOUT */
.wrapper {
    width: 100%;
    height: 100%;
    background-image: url(../img/mine.jpg);
}

/* Col LEFT SECTION --------------------------------------------- LEFT*/
.col-left {
    width: 35%;
    height: 100%;
    /* Debug */
    background-color: gray; 
}

/* Header LEFT */
.header-left {
    height: var(--header-left-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
}

.avatar-container {
    width: var(--header-avatar-container);
    padding: 10px;
}

.nav-icon {
    margin-right: 20px;
}

/* Main LEFT */
.main-left {
    height: calc(100% - var(--header-left-height));
    position: relative;
}

.chat-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.notify-section {
    height: var(--main-avatar-container);
    background-color: rgb(142 218 252);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 10px;
}

.notify {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(142 218 252);
    text-align: center;
    font-size: 30px;
}

.notify-text {
    font-size: 0.9rem;
}

.notify-text a {
    color: rgb(114 157 177);
}

.research {
    background-color: rgb(250 250 250);
    padding: 5px;
}

.chats-section {
    height: 100%;
    overflow-y: auto;
    background-color: var(--chat-color);
    padding-top: 119px;
}

.chat-container {
    height: var(--main-avatar-container);
    padding: 15px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid rgb(245 245 245);
}

.chats-section p {
    color: rgb(188 191 210);
}

/* Col RIGHT SECTION -------------------------------------------- RIGHT*/
.col-right {
    width: 65%;
    height: 100%;
}

/* Header RIGHT */
.header-right {
    height:calc(var(--header-right-height) - 2px);
    background-color: var(--header-color);
    border-left: 1px solid rgb(215 215 215);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-name {
    height: var(--header-avatar-container);
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.chat-name span {
    color: rgb(137 128 129);
    font-size: 13px;
}

/* Main RIGHT */
.main-right {
    height: calc(100% - (var(--header-right-height) + var(--footer-right-height)) + 4px);
}

/* Footer RIGHT */
.footer-right {
    height:calc(var(--footer-right-height) - 2px);
    background-color: rgb(243 238 234);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-left: 1px solid rgb(215 215 215);
}



/* Tablet Layout ----------------------------------------------- TABLET*/
@media screen and (max-width: 768px) {
    .col-left {
        width: var(--header-avatar-container);
    }

    .header-left .nav-icon {
        display: none;
    }

    .col-right {
        width: calc(100% - var(--header-avatar-container));
    }

    .main-left .chats-section {
        padding-top: 0;
    }

    .main-left .chat-top {
        display: none;
    }

    .chats-section .chat-text {
        display: none;
    }
}

/* Mobile Layout ------------------------------------------------- MOBILE*/
@media screen and (max-width: 425px) {
    .col-left {
        display: none;
    }

    .col-right {
        width: 100%;
    }

    .header-right .nav-icon {
        display: none;
    }

    .footer-right button {
        display: none;
    }
}